/* Media queries */

/* Mobile */
@media (max-width: 575.98px) {
    .hero h1 {
      font-size: 1.6rem;
    }
    .hero img {
      margin: 10;
      width: 20vh;
    }
    .info-info{
      margin-top: -31rem;
    }
    .hero-img {
      width: 40vw;
    }
    /* .deskrip {
      margin-top: 30px;
    } */
  
    .container-vimisi {
      margin-top: -9px;
      margin-bottom: 2rem;
      width: 100vw;
      height: 45rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
    }
    .container-visi, .container-misi{
      width: 30rem;
      height: 20rem;
    }

    .info-info {
      margin-top: 4rem;
    }
  
    .ourteam {
      transform: scale(0.5);
      margin-top: -10rem;
    }
    /* .ourteam h1{
      font-size: 7rem;
    } */
     .container-ourteam{
      margin-bottom: 15rem;
      /* margin-left: 2rem;
      margin-right: 2rem; */
    }
  
    .main {
      transform: scale(0.7);
      margin: 0 auto;
      width: 380px;
    }
  }