@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Universal */
:root {
  --primary: #6f74fc;
  --secondary: white;
  --third: #b06ffc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  padding-top: 91.97px;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--secondary);
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-logo img {
  width: 10rem;
}

ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}

.navbar .navbar-list .menu li a {
  color: var(--primary);
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar .navbar-list .menu li a:hover {
  color: var(--third);
  border-bottom: var(--third) 2px solid;
  transition: 0.1s linear;
}
/* Bagian menu dropdown */
#hamburger-menu {
  display: none;
}

/* Landing Page */
.landing-page {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.landing-page .column {
  flex: 1;
  padding: 20px;
}

.landing-page .column h1 {
  font-size: 45px;
  margin-bottom: 10px;
  color: var(--background);
}

.landing-page .column .landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}
/* MediaQueries */

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hambergur-menu {
    display: inline-block;
  }

  .navbar .navbar-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--secondary);
    width: 30rem;
    height: 100hv;
  }

  .navbar .navbar-list .active {
    right: 0;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
