@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Universal */
:root {
  --primary: #6f74fc;
  --secondary: white;
  --third: #b06ffc;
  --max-width: 1512px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  /* border: 1px solid black; */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--secondary);
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-logo img {
  width: 90px;
}

.navbar .navbar-list .menu {
  display: flex;
  list-style-type: none;
}

.navbar .navbar-list .menu li {
  display: inline-block;
}

.navbar .navbar-list .menu li a {
  color: var(--primary);
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar .navbar-list .menu li a:hover {
  color: var(--third);
  border-bottom: var(--third) 2px solid;
  transition: 0.1s linear;
}

/* Bagian menu dropdown */
#hamburger-menu {
  display: none;
}
/* Navbar End */

/* Footer - Main Section Start */
.footer {
  width: 100%;
  display: flex;
  background-color: var(--primary);
  color: var(--secondary);
  justify-content: space-around;
  padding-top: 30px;
}

.footer-head {
  border-bottom: 0.1rem solid var(--secondary);
}

/* .footer .footer-navigation-vert .footer-list {
  color: var(--secondary);
} */

/* 
.footer-image-logo,
.footer-navigation-vert,
.footer-contact-section,
.footer-social-section {
   padding: 0 7rem; 
} 
*/

.footer-image-logo img {
  width: 9rem;
}

.footer .footer-navigation-vert .footer-list,
.social-icon-media {
  list-style-type: none;
}

.social-icon-media {
  display: flex;
}

/* .social-icon-media .icon {
  margin: 0 1rem;
} */
.contact-section {
  display: flex;
  flex-direction: row;
  margin: 5px 0 5px 0;
}

.footer-contact-section img {
  width: 25px;
  margin: 0 5px 0 0;
}

.footer-contact-section p {
  padding: 0 0 5px 0;
}

.social-icon-media img {
  width: 25px;
}

.copyright p {
  text-align: center;
  padding-top: 1rem;
  background-color: var(--primary);
  color: var(--secondary);
}
/* Footer - Main Section End */

/* Landing Page */
.landing-page {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 91.97px 40px 40px 40px;
}

/* 
.landing-page-container {
  max-width: var(--max-width);
  margin: auto;
} 
*/

.landing-page .column-landing-page {
  flex: 1;
  padding: 20px;
}

.landing-page .column-landing-page h1 {
  font-size: 4.3rem;
  margin-bottom: 10px;
  color: var(--background);
}

.landing-page .column-landing-page .landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

/* Top Menu - Main Section Start */
.top-menu {
  background-color: var(--secondary);
  color: var(--primary);
}

.top-menu .title-head h2 {
  text-align: center;
  padding: 50px 0 0 0;
}

.column-menu {
  display: flex;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.top-menu .column-menu .top-menu-card {
  width: 30%;
  border-radius: 10%;
  margin: 10px;
  background: #878ad3;
}

.top-menu .title-head h2 {
  font-size: 3rem;
}

.top-menu .column-menu .top-menu-card img {
  border-radius: 10% 10% 0 0;
  width: 100%;
  height: auto;
}

.top-menu .column-menu .top-menu-card .best-menu-1,
.top-menu .column-menu .top-menu-card .best-menu-2,
.top-menu .column-menu .top-menu-card .best-menu-3 {
  height: 7.375rem;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu .column-menu .top-menu-card .best-menu-1 p,
.top-menu .column-menu .top-menu-card .best-menu-2 p,
.top-menu .column-menu .top-menu-card .best-menu-3 p {
  margin: 0;
  font-weight: bold;
}
/* Top Menu Main Section End */

/* About Us - Main Section Start*/
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: var(--secondary);
  background-color: var(--primary);
}

.about-us .column-about {
  flex: 1;
  padding: 1.25rem;
}

.about-us .column-about img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

.about-us .column-about .head-about h2 {
  font-size: 3rem;
}

.about-us .column-about .read-more {
  width: 200px;
  height: 81px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-us .column-about .read-more a {
  padding: 1.5rem 2rem;
}

.about-us .column-about .head-desc-about {
  padding: 0.75rem 0;
  text-align: justify;
}
/* About Us - Main Section End*/

/* Review - Main Section Start */
.review {
  background-color: var(--secondary);
  color: var(--primary);
}

.review .title-head h2 {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 3rem;
}

/* Review - Main Section End */

/* Start to Page About Us */
.hero {
  display: flex;
  margin-top: 60px;
  padding: 0 7%;
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  max-height: 50vh;
  overflow: visible;
}
.hero h1 {
  color: var(--secondary);
  font-size: 4rem;
}
.hero-img {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 40vh;
  border-radius: 20px;
}
.deskrip {
  background-color: var(--secondary);
  padding: 0 7%;
  margin: 1.5rem 0 0;
}
.deskrip .title {
  text-align: center;
}
.deskrip .title h2 {
  color: var(--primary);
  font-size: 2.75rem;
  font-weight: bold;
}

.deskrip .title h3 {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: normal;
}

/* container visi misi */
.container-vimisi {
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 18rem;
  display: flex;
  background-color: var(--secondary);
}

.container-visi,
.container-misi {
  width: 400px;
  height: 250px;
  padding: 50px 50px 50px 50px;
  border-radius: 20px;
  background: var(--primary);
  color: var(--secondary);
  margin-top: 30px;
  margin-left: 30px;
}

/* start information */
.info-info {
  margin-top: 0.5rem;
}
.information {
  margin-top: 40px;
  background-color: var(--secondary);
  padding: 0 7%;
}
.information .title-info {
  text-align: center;
}
.information .title-info h2 {
  color: var(--primary);
  font-size: 2.75rem;
  font-weight: bold;
}

.information .title-info h3 {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 100px;
  margin-right: 100px;
}

/* start our team */
.ourteam {
  margin-top: 2rem;
  color: var(--primary);
  background-color: var(--secondary);
}
.container-ourteam,
.container-rows2 {
  margin-top: 20px;
  width: 50%;
  height: 18rem;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.container_team {
  width: 400px;
  height: 270px;
  background-color: var(--primary);
  color: black;
  border-radius: 30px;
  font-family: "Roboto", serif;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
.ourteam h2 {
  font-size: 2.75rem;
}
.container_team img {
  border-radius: 15% 15% 0 0;
}
.container_team h1 {
  color: var(--secondary);
  font-size: 0.9rem;
}
.container_team p {
  margin-top: 10px;
  color: black;
  font-size: 0.8rem;
}

.containerdiv1-6 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.containerdiv1-6 {
  margin-bottom: 1.2rem;
}
.containerdiv1-6 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* ---- */
/* Start Page Of Menu */
.banner {
  height: 50vh;
  background-image: url(../asset/banner.webp);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 34, 34, 0.6);
}

.banner-title {
  text-align: center;
}

.banner-title h2 {
  color: white;
  font-size: 5rem;
}

.banner-title h3 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

/* Content Menu */
/* button */
.option {
  display: flex;
  justify-content: space-evenly;
  margin: 52px 0;
}

.option-type {
  padding: 8px 72px;
  background-color: var(--primary);
  color: var(--secondary);
}

.option-type:hover {
  background-color: var(--third);
  color: var(--secondary);
}

/* Card */
.list-menu {
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
}

.card {
  width: 100%;
  z-index: 1;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10%;
  background-color: var(--primary);
  color: var(--secondary);
}

.card-image img {
  width: 100%;
  border-radius: 10%;
}

.card-image {
  position: relative;
  margin: 0 auto;
}

.card-desc {
  padding: 10px;
}

.title-name {
  font-size: 25px;
}

.menu-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* MediaQueries Start */
/* Desktop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hambergur-menu {
    display: inline-block;
  }

  .navbar .navbar-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--secondary);
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-list .active {
    right: 0;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* End of Media Queries */
