@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Universal */
:root {
  --primary: #6f74fc;
  --secondary: white;
  --third: #b06ffc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  /* border: 1px solid black; */
}

body {
  padding-top: 91.97px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--secondary);
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-weight: bold;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-logo img {
  width: 10rem;
}

ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}

.navbar .navbar-list .menu li a {
  color: var(--primary);
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar .navbar-list .menu li a:hover {
  color: var(--third);
  border-bottom: var(--third) 2px solid;
  transition: 0.1s linear;
}
/* Bagian menu dropdown */
#hamburger-menu {
  display: none;
}

/* Landing Page */
.landing-page {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.landing-page .column-landing-page {
  flex: 1;
  padding: 20px;
}

.landing-page .column-landing-page h1 {
  font-size: 4.3rem;
  margin-bottom: 10px;
  color: var(--background);
}

.landing-page .column-landing-page .landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

/* Bagian Top menu */
.top-menu {
  background-color: var(--secondary);
  color: var(--primary);
}

.top-menu .title-head h2 {
  text-align: center;
  padding: 50px 0 0 0;
}

.column-menu {
  display: flex;
  padding: 50px;
}

.top-menu .column-menu .top-menu-1,
.top-menu-2,
.top-menu-3 {
  width: 30%;
  height: 565px;
  flex-shrink: 0;
  border-radius: 10%;
  margin: 0px 25px;
  background: #878ad3;
}

.top-menu .title-head h2 {
  font-size: 3.25rem;
}

.top-menu .column-menu .top-menu-1 img,
.top-menu-2 img,
.top-menu-3 img {
  border-radius: 10% 10% 0 0;
  max-width: 100%;
  height: 29.1875;
}

.top-menu .column-menu .top-menu-1 .best-menu-1,
.top-menu .column-menu .top-menu-2 .best-menu-2,
.top-menu .column-menu .top-menu-3 .best-menu-3 {
  height: 7.375rem;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu .column-menu .top-menu-1 .best-menu-1 p,
.top-menu .column-menu .top-menu-2 .best-menu-2 p,
.top-menu .column-menu .top-menu-3 .best-menu-3 p {
  margin: 0;
}
/* About Us - Main Section */
.about-us .img-about img {
  max-width: 50%;
  height: auto;
  border-radius: 10%;
}
/* MediaQueries */

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hambergur-menu {
    display: inline-block;
  }

  .navbar .navbar-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--secondary);
    width: 30rem;
    height: 100hv;
  }

  .navbar .navbar-list .active {
    right: 0;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
